<ul class="list-group">
    <#for(let i in notes){#>
        <#const note = notes[i];#>
        <li class="d-flex list-group-item preview-list-item <#(note.isSelected()) ? 'selected-item' : ''#>" >
            <div>
                <h2 id="note-title_<#note.getID()#>">
                    <#adaptHTML(note.getTitle().slice(0,15))#>
                    <#(note.getTitle().length < 15) ? '' : '...' #>
                </h2>
                <h4 id="note-text_<#note.getID()#>">
                    <#adaptHTML(note.getText().slice(0,17))#>
                    <#(note.getText().length < 17) ? '' : '...' #>
                </h4>
                <h6 id="note-created_<#note.getID()#>">
                    Created at
                    <#note.getCreatedDate().toString().split('GMT')[0]#>
                </h6>
                <h6 id="note-edited_<#note.getID()#>">
                    Edited at
                    <#note.getEditedDate().toString().split('GMT')[0]#>
                </h6>
            </div>
            <div class="delete-button-group">
                <button id="delete-button_<#note.getID()#>" type="button" class="btn btn-danger delete-note-button">
                    Delete
                </button>
            </div>  
        </li>
    <#}#>
        <li id="add-note-button" class="list-group-item preview-list-item">
            <h2>
                Add note
            </h2>
        </li>
</ul>