
.header {
    display: flex;
    padding-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.preview-list-item {
    flex-grow: 5;
}

#main-list {
    flex-grow: 1;
}

.input-form {
    flex-grow: 8;
}

.preview-list-item:hover {
    background-color:#01566b;
}

.selected-item {
    background-color:#01566b;
}

.main-textarea {
    font-size: xx-large;
    flex-grow: 18;
}

#title-input {
    font-size: xx-large;
    flex-grow: 1;
    
}

.input-form {
    display: flex;
    flex-direction: column;
}